* {
    font-family: 'Archivo Black', sans-serif;
}

body {
    /* width: 1440px; */
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding-top: 5%;
}

.main-card {
    background-color: hsl(216, 50%, 16%);
    width: 15%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    height: 60%;
    margin-top: auto;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.heading {
    color: white;
    font-weight: 600;
}

.subheading {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.price-container,
.time-container {
    display: flex;
    flex-direction: column;
}

.price {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

.time-left {
    color: hsl(215, 51%, 70%);
}

hr {
    width: 80%;
    height: 1%;
}

.creator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.creator-pic {
    width: 15%;
    height: auto;
    margin: 3%;
}

.creator {
    color: hsl(215, 51%, 70%);
    text-align: center;
    font-size: 0.8rem;
}

span {
    color: white;
}

img {
    border-radius: 5%;
}